name: Deploy to Azure Web App via FTPS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # Checkout o repositório
      - name: Checkout code
        uses: actions/checkout@v2

      # Instalar lftp se necessário
      - name: Install lftp
        run: sudo apt-get install lftp

      # Fazer o upload de arquivos para o Azure Web App via FTPS
      - name: Upload files to Azure Web App via FTPS
        run: |
          echo "Iniciando upload de arquivos..."
          lftp -u "festivalmusical\$festivalmusical","yu22l1ruebTK3vH4nuTXzNqZ2PezZY49FjJsKy4knY60oE5H4sopfPfSdrjk" \
            -e "set ftp:ssl-allow true; mirror -R ./  \
            ftps://waws-prod-cq1-021.ftp.azurewebsites.windows.net/site/wwwroot
